# Dependencies
node_modules

# Build output - NOT ignored because we need it for npm package
# dist

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
